<footer>
  <div>
    Copyright &copy; <%= current_year %>
    by <%= github_url author: 'Uncle Serge', repo: 'https://github.com/SergeSadowsky/TestGuru' %>.
    <%= link_to  "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com/", target: '_blank'%>
  </div>
</footer>